<ol class="breadcrumb">
  <li><a href="#home">Home</a></li>
  <li class="active">Log In</li>
</ol>

<form class="form-signin" accept-charset="UTF-8" role="form">
  <h2 class="form-signin-heading"><i class="fa fa-lock"></i> Please Log In</h2>
  <input type="email" class="form-control" placeholder="Email address" autofocus required ng-model="user.email">
  <input type="password" class="form-control" placeholder="Password" required ng-model="user.password">
  <label class="checkbox">
    <input type="checkbox" value="remember-me"> Remember me
  </label>
  <button class="btn btn-lg btn-primary btn-block" ng-click="login(user)">Log in</button>
</form>